{% extends 'base.html' %}

{% block content %}
  <h1>Liste des promotions</h1>
  <a href="{% url 'backoffice:promotion_add' %}" class="btn btn-primary mb-3">Ajouter une promotion</a>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Produit concerné</th>
        <th>Réduction</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for promotion in promotions %}
        <tr>
          <td>{{ promotion.name }}</td>
          <td>{{ promotion.description }}</td>
          <td>{{ promotion.product.name }}</td>
          <td>{{ promotion.discount }}%</td>
          <td>{{ promotion.start_date }}</td>
          <td>{{ promotion.end_date }}</td>
          <td>
            <a href="{% url 'backoffice:promotion_edit' promotion.id %}" class="btn btn-sm btn-primary">Modifier</a>
            <a href="{% url 'backoffice:promotion_delete' promotion.id %}" class="btn btn-sm btn-danger">Supprimer</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">Aucune promotion n'a été trouvée.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
